/*-- scss:defaults --*/

@import 'https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap';

$font-family: "Atkinson Hyperlegible", sans-serif;
$font-family-serif: "Atkinson Hyperlegible", sans-serif;

$primary: #440154ff;
// $primary: #fdfdfd;
$primary-back: #fdfdfd;
$secondary: #20A486ff;
$secondaryalt: #155D64;
$secondaryalt2: #efe8f1;
$secondaryalt3: #c3e0fa;
$tertiary: #75D054ff;

$theme-white: #F7F8F9;
$theme-yellow: #E8D4AD;
$theme-darksand: #D0927D;
$theme-night: #060708;
$theme-ground: #416270;
$theme-blue: #170b33;
// navbar text
$navbar-fg: $primary-back;
//$navbar-fg: $theme-night;
$light-bg: #f8f5f9;
$link-color: $theme-blue; 

/*-- scss:rules --*/

.navbar-brand {
	font-family: "Hanken Grotesk";
	font-weight: 900;
	font-size: 30px;
	color: #c3deea;
}

// navbar

.navbar-container {
  width: 90%;
  height: 120px;
  font-size: large;
}

.navbar-logo {
  max-height: 60px;
  width: auto;
  padding-right: 4px;
}