/*-- scss:defaults --*/

@import 'https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap';

$font-family: "Atkinson Hyperlegible", sans-serif;
$font-family-serif: "Atkinson Hyperlegible", sans-serif;

$primary: #2c2c2c;

/*-- scss:rules --*/

kbd, .kbd{
  background-color: #222222 !important;
}

.navbar {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.box {
  border-radius: 5px;
  // box-shadow: 0px 30px 40px -20px var(--grayishBlue);
  padding: 30px;
  margin: 20px; 
  border-style: solid;
  border-width: 3px;
  border-color: white;
}